# panel
tint2 &

# background
nitrogen --restore &

# bluetooth
blueman-applet &

# audio
pasystray &

# battery
xfce4-power-manager &

# kb
setxkbmap -layout "us,bg" -variant ",phonetic" -option "grp:alt_shift_toggle" &

# display

xset s off && xset -dpms && xset s noblank

# Autolock
xautolock -time 4 -locker slock
